@model Nilam.Models.userTable


@{
    ViewBag.Title = "Create";
}

<h2>Open New account</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container well">

        <div class="form-horizontal">
            <a class="btn btn-primary btn-lg" href="~/Home">Home Page</a>
            <a class="btn btn-primary btn-lg" href="Login">Log In</a>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                    @Html.LabelFor(model => model.userID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.userID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.userID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.Label("User Name :")
                    
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.userName) } })
                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.passWord, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.Label("Password :")
                    
                    @Html.EditorFor(model => model.passWord, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.passWord, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control", Value = "User", style = "display:none;" } })
                    @Html.ValidationMessageFor(model => model.userStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.userStatus, new { htmlAttributes = new { @class = "form-control", Value = "invalid", style = "display:none;" } })
                    @Html.ValidationMessageFor(model => model.userStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>
        
        </div>
        }

        @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
